/**
 * Politico
 * Politico enables citizens give their mandate to politicians running for different government offices   while building trust in the process through   transparency. [http://swagger.io](http://swagger.io) or on  [irc.freenode.net, #swagger](http://swagger.io/irc/). 
 *
 * OpenAPI spec version: 1.0.0
 * Contact: dbelio39@gmail.com
 *
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen.git
 * Do not edit the class manually.
 */
package io.swagger.client.api

import io.swagger.client.model.Party
import io.swagger.client.model.Pet
import io.swagger.client.core._
import io.swagger.client.core.CollectionFormats._
import io.swagger.client.core.ApiKeyLocations._

object PetApi {

  /**
   * Returns a single party
   * 
   * Expected answers:
   *   code 200 : Party (successful operation)
   *   code 400 :  (Invalid party ID supplied)
   *   code 404 :  (Party not found)
   * 
   * Available security schemes:
   *   api_key (apiKey)
   * 
   * @param partyId ID of party to return
   */
  def getPartyById(partyId: Long)(implicit apiKey: ApiKeyValue): ApiRequest[Party] =
    ApiRequest[Party](ApiMethods.GET, "https://virtserver.swaggerhub.com/belio39/Politico/1.0.0", "/party/{partyId}", "application/json")
      .withApiKey(apiKey, "api_key", HEADER)
      .withPathParam("partyId", partyId)
      .withSuccessResponse[Party](200)
      .withErrorResponse[Unit](400)
      .withErrorResponse[Unit](404)
        /**
   * 
   * 
   * Expected answers:
   *   code 400 :  (Invalid ID supplied)
   *   code 404 :  (Pet not found)
   *   code 405 :  (Validation exception)
   * 
   * @param body Pet object that needs to be added to the store
   */
  def updatePet(body: Pet): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.PUT, "https://virtserver.swaggerhub.com/belio39/Politico/1.0.0", "/pet", "application/json")
      .withBody(body)
      .withErrorResponse[Unit](400)
      .withErrorResponse[Unit](404)
      .withErrorResponse[Unit](405)
      

}

